@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}












<br />
<div class="row">
    <div class="col-5">
        <h2 class=" text-danger">@ViewData["Title"]</h2>
    </div>

</div>

<div class="border-info">

    <h2 class="text-danger"> You do not have access to this resource &#x1F632.</h2>
    
</div>

